.meme {
	position: relative;
	width: 90%;
	margin: auto;
}

.meme > img {
	width: 400px;
}

.top {
	width: 100%;
	position: absolute;
	top: 0;
	color: white;
	font-size: 26px;
	text-align: center;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	color: white;
	font-size: 26px;
	text-align: center;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}
